.container {
    justify-content: space-around;
}

.artista {
    width: 25%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.artista-img {
    width: 100%;
    height: 90%;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    cursor: pointer;
}

.artista-img:hover {
    height: 100%;
    transition: width 500ms, height 500ms;
}

#van-gogh {
    background-image: url('./assets/img/van-gogh/image_01.jpeg');
}

#leo-vinci {
    background-image: url('./assets/img/leo-vinci/image_01.jpg');
}

#monet {
    background-image: url('./assets/img/monet/image_01.jpg');
}

.artista-nome {
    font-size: 4.5rem;
}